---
import Page from '../layouts/Page.astro';
---

<Page
	title="Contact"
	description="Contact">
	<div class="prose lg:prose-xl">
		<!-- modify this form HTML and place wherever you want your form -->
		<form id="fs-frm" name="department-contact-form" accept-charset="utf-8" action="https://formspree.io/f/new" method="post">
			<fieldset class="form-control w-full max-w-lg mb-6" id="fs-frm-inputs">
				<label class="label" for="full-name">Full Name</label>
				<input class="input input-bordered w-full max-w-lg" type="text" name="name" id="full-name" placeholder="First and Last" required="">
				<label class="label" for="email-address">Email Address</label>
				<input class="input input-bordered w-full max-w-lg" type="email" name="_replyto" id="email-address" placeholder="email@domain.com" required="">
				<label class="label" for="department">Contacting For:</label>
				<select class="select select-bordered w-full max-w-lg" name="department" id="department" required="">
				<option value="" selected="" disabled="">Select</option>
				<option value="Freelance Work">Freelance Work</option>
				<option value="Partnership">Partnership</option>
				<option value="Advertising">Advertising</option>
				<option value="Other Queries">Other Queries</option>
				</select>
				<label class="label" for="message">Message</label>
				<textarea class="textarea textarea-bordered" rows="5" name="message" id="message" placeholder="Your message here" required=""></textarea>
				<input type="hidden" name="_subject" id="email-subject" value="Bharat - Contact Form Submission">
			</fieldset>
			<input class="btn btn-primary" type="submit" value="Send Message">
		</form>
</Page>
