---
const {menu, generalSettings} = Astro.props;
---

<header class="shadow bg-base-100">
	<nav class="navbar flex justify-between mx-auto max-w-6xl">
		<div class="navbar-start">
			<h2 class="text-lg md:text-xl font-bold ml-3"><a href="/">{generalSettings.title}</a></h2>
		</div>
		<div class="navbar-center">
			<ul class="menu menu-horizontal text-sm md:text-lg px-1">
				{menu.menuItems.nodes.map(menuItem => {
          return (<li>
                      <a href={menuItem.uri || '/'}>{menuItem.label}</a>
                  </li>)
          })}
			</ul>
		</div>
	</nav>
</header>