---
const {menu, generalSettings} = Astro.props;
---
<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
        {menu.menuItems.nodes.map(menuItem => {
            return (
                        <a class="link link-hover"href={menuItem.uri || '/'}>{menuItem.label}</a>
                )
        })}
    </nav> 
    <aside>
      <p>Copyright © 2023 - All right reserved</p>
    </aside>
  </footer>